<% content_for(:page_title) { ('Contact') } %>
<% content_for(:hero_image) { image_tag 'heros/contact.jpg' } %>

<div class="contact-page">
  <h1>Let's stay in touch.</h1>
  <h3>Message us.</h3>
  <%= form_tag("/contact", class: "contact-form") do -%>
    <div class="field">
      <label for="contact_request[email_address]">Email</label>
      <input type="text" name="contact_request[email_address]">
    </div>

    <div>
      <div class="field first-name">
        <label for="contact_request[first_name]">First Name</label>
        <input type="text" name="contact_request[first_name]">
      </div>

      <div class="field last-name">
        <label for="contact_request[last_name]">Last Name</label>
        <input type="text" name="contact_request[last_name]">
      </div>
    </div>

    <div class="field">
      <label for="contact_request[location]">Location</label>
      <input type="text" name="contact_request[location]">
    </div>

    <div class="field">
      <label for="contact_request[involvement]">
        How are you involved in education?
      </label>
      <select name="contact_request[involvement]">
        <option>I'm a classroom teacher</option>
        <option>I'm an arts teacher</option>
        <option>I'm an administrator</option>
        <option>I'm part of the PTA</option>
        <option>I'm a parent who is home-schooling</option>
        <option>I'm a parent</option>
        <option>I'm an arts-education activitist/part of a nonprofit/volunteer</option>
      </select>
    </div>

    <div class="field">
      <label for="contact_request[message]">
        Message
      </label>
      <textarea name="contact_request[message]"></textarea>
    </div>
    <div class="field">
      <input type="checkbox" name="contact_request[subscribe]" checked></input><span>Receive notifications when new lessons are available on the website.</span>
    </div>
    <div class="field">
      <input type="checkbox" name="contact_request[subscribe]" checked></input><span>Receive notifications when there is a new feature on the website.</span>
    </div>
    <div class="field">
      <input type="checkbox" name="contact_request[subscribe]" checked></input><span>Receive occasional organizational updates.</span>
    </div>

    <div>
      <input type="submit" class="btn btn-large btn-blue" value="send">
    </div>

    <h3>Follow us:</h3>

    <a href="http://facebook.com/doodlesacademy" target="_blank"><%= image_tag 'FB-f-Logo__blue_50.png', class:"contact-logo", alt:"Facebook"  %></a>

    <a href="http://instagram.com/doodlesacademy" target="_blank"><%= image_tag 'Instagram-v051916.png', class:"contact-logo", alt:"Instagram"  %></a>
</div>
<% end -%>
