<div class="contact-page">

  <h1>Thanks!</h1>
  <div class="thanks centered">
    <p>We will get back to you as soon as possible.  Meanwhile, follow us on social media, which we keep up to date with artwork from kids participating in our program.</p>
  </div>

  <div class="centered">
    <a href="http://facebook.com/doodlesacademy" target="_blank"><%= image_tag 'FB-f-Logo__blue_50.png', class:"contact-logo", alt:"Facebook"  %></a>

    <a href="http://instagram.com/doodlesacademy" target="_blank"><%= image_tag 'Instagram-v051916.png', class:"contact-logo", alt:"Instagram"  %></a>
  </div>

</div>
