@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animate($name, $duration: 2s, $delay: 0s, $iterations: 1, $timing: ease) {
  animation-name: $name;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: $iterations;
  animation-timing-function: $timing;
}

@mixin ease($time: 200ms) {
  transition: ease $time;
}
