@mixin grid($item-name: grid-item, $columns: 3, $column-margin: 12px) {

  display: flex;
  flex-wrap: wrap;

  .#{$item-name} {
    display: flex;
    $column-width: round(100%/$columns);
    width: calc(#{$column-width} - #{$column-margin});

    &:not(:first-child) {
      margin-left: $column-margin;
    }

    &:nth-child(#{$columns}n+1) {
      margin-left: 0;
    }
  }
}
