@mixin grid($item-name: grid-item, $columns: 3, $column-margin: 12px) {

  display: flex;
  flex-wrap: wrap;

  .#{$item-name} {
    display: flex;
    $column-width: round(100%/$columns);
    width: calc(#{$column-width} - #{$column-margin});

    &:not(:first-child):not(:last-child) {
      $total-row-margin: $column-margin * $columns;
      $padded-columns: $columns - 2;
      $padded-column-margin: round($total-row-margin / $padded-columns) / 2;
      margin: 0 $padded-column-margin;
    }
  }
}
