<div class='academy-selector'>
  <% if academy == :lower %>
    <%= link_to "Upper Academy Project", project_lesson_path("upper", @project.slug, @lesson.slug) %>
    <span>/</span>
    <%= "#{academy} Academy Project".titleize %>
  <% else %>
    <%= "#{academy} Academy Project".titleize %>
    <span>/</span>
    <%= link_to "Lower Academy Project", project_lesson_path("lower", @project.slug, @lesson.slug) %>
  <% end %>
</div>
