<div class="homepage-gallery-item" data-video-id="<%= @lesson[:video_id] %>" data-project-title="<%= @lesson[:title] %>">
  <img src="<%= asset_path(@lesson[:image]) %>">
  <div class="homepage-gallery-item-play-btn"></div>
  <div class="homepage-gallery-item-title">
    <%= @lesson[:title] %>
  </div>
</div>
