<%= image_tag "portraits/#{member.first_name.downcase}", class: "member-avatar" %>
<div class="member-info">
  <h2 class="member-name">
    <%= member.name %>
  </h2>
  <h3 class="member-position">
    <%= member.position %>
  </h3>
</div>
<p class="member-bio">
  <%= member.bio %>
</p>
