<div class="member-avatar">
  <%= image_tag member.avatar.url(:small) %>
</div>
<div class="member-info">
  <div class="member-name">
    <%= member.name %>
  </div >
  <div class="member-position">
    <%= member.position %>
  </div >
</div>

<div class="member-bio">
  <%= markdown member.bio %>
</div>
