<div class="modal" id='<%= id %>'>
  <div class="modal-content">
    <div class="modal-close"></div>
    <div class="modal-title">
      <h2><%= title %></h2>
    </div>
    <div class="modal-body">
      <p><%= body %></p>
    </div>
  </div>
</div>


