<div class="doodles-nav hidden">
  <div class="container">
    <div class="row nav-menu">
      <div class="col-md-2 col-xs-3">
        <% if current_user %>
          <a href="/artroom">artroom</a>
        <% else %>
          <a href="/users/sign_up">sign up</a>
        <% end %>
      </div>
      <div class="col-md-2 col-xs-3">
        <% if current_user %>
          <%= link_to('logout', destroy_user_session_path, :method => :delete) %>
        <% else %>
          <a href="/users/sign_in">sign in</a>
        <% end %>
      </div>
      <div class="col-md-2 col-xs-3">
        <a href="/projects">projects</a>
      </div>
      <div class="col-md-2 col-xs-3" id="nav-logo">
        <a href="/"><%= image_tag 'doodle_white_logo_only.png', alt:"Doodles Academy", size: "50", class: "brand" %></a></li>
      </div>
      <div class="col-md-2 col-xs-3 dropdown">
        <a href="/about">about us</a>
        <div class="dropdown-content">
          <a href="/about" hidden>our story</a>
          <a href="/supporters" hidden>supporters</a>
          <a href="/team" hidden>team</a>
        </div>
      </div>
      <div class="col-md-2 col-xs-3 dropdown">
        <a href="/contact">contact us</a>
        <div class="dropdown-content">
          <a href="/contact" hidden>get in touch</a>
          <a href="http://www.volunteermatch.org/search/org960297.jsp#opportunities_tab" target="blank" hidden>volunteer opportunities</a>
          <a href="/classes" hidden>PDX Classes</a>
        </div>
      </div>
      <div id="nav-donate-btn" class="col-md-2 col-xs-3">
        <a href="https://squareup.com/store/doodles-academy">donate</a>
      </div>
    </div>
  </div>
</div>
