<div class="doodles-nav hidden">
  <div class="brand">
    <a href="/"><%= image_tag 'doodle_white.png', class:"logo", alt:"Doodles Academy" %></a>
  </div>
  <ul class="nav-menu">
    <% @pages.each do |page| %>
    <%= nav_link page[:name], page[:path] %>
    <% end %>
    <li class="nav-menu-item donate<%= ' current' if current_page?('/donate') %>">
      <a href="/donate">
        <span class="btn btn-blue nav-donate-btn">
          Donate
        </span>
      </a>
    </li>
  </ul>
</div>
