<div class="subscribe">
  <div class="newsletter">
    <div class="newsletter__notice centered">
      Stay in touch! Sign up to be notified of new projects and organization updates.
    </div>
    <div class="newsletter__form">
      <%= form_tag("/subscribe") do -%>
        <%= text_field_tag('subscription[email]', '', class: "input__text", placeholder: 'Your email address') %>
        <%= submit_tag("Sign Up Here", class: "newsletter__submit") %>
      <% end -%>
    </div>
  </div>
</div>
