<div class="subscribe">
  <div class="newsletter">
    <div class="newsletter__notice centered">
      Stay in touch! Sign up to be notified of new projects and organization updates.
    </div>
    <div class="newsletter__form">
      <form method="GET" action="/contact">
        <input type="text" class="input__text" placeholder="Your email address" id="email-submit" name="email-submit" />
        <input type="submit" class="newsletter__submit" value="sign up here"/>
      </form>
    </div>
  </div>
</div>
