<% content_for(:page_title) { ('About') } %>

<div class="wrapper">
<h1 class="title">About</h1>
<p>Doodles works to eliminate the barriers that too many teachers have in providing a high-quality arts education to their students. By creating an inventory of thoughtful and engaging art lessons, teachers assemble their curriculum-choosing the projects and activities they know are best for their students- and Doodles does the details. </p>
</div>
