<% content_for(:page_title) { ('About') } %>
<% content_for(:hero_image) { 'top_hero_image' } %>
<% content_for(:hero_content) { 'This is who we are.' } %>

<h1>About</h1>

<p class="lead">
  Fresh out of graduate school, studio art degree in hand, our founder began navigating the teaching artist's world of New York City. From train to train, across and beyond the New York City boroughs, Tempest yearned to maximize her impact as an art teacher. Through private classes, to ad-hoc programs in Title I schools who could only afford a piece-meal program at the time, she saw the spectrum of art education in New York City: incredibly costly and individualized or over-crowded with little opportunity for differentiation.
  Eventually, she  took a position at a growing charter school in Brooklyn and was exposed to the challenges teachers and art teachers alike face in implementing curriculum. The time-demands on the profession make it difficult to craft meaningful assignments that engage and challenge all students. In the rare school that has an established art program, art teachers are challenged with back-to-back classes, grading, and standards demands that devour any time they might use to craft a meaningful curriculum.
  In schools without an art program, the situation is much more bleak. Inevitably teachers or volunteers step in to teach art, recognizing its importance. However, these well-intentioned individuals are untrained, and rely on step-by-step tutorials or craft projects that don’t challenge students to solve problems, or to think independently or critically.
  At her charter school, Tempest developed an idea of what it would take to create a curriculum that was engaging and challenging to students; not a product based curriculum, but one that demanded critical, flexible, and creative thinking skills,  yet remained manageable for even those teachers untrained in the arts.
  And that's really where Doodles was conceived.
  Here we are - seeking to help the classroom teacher become the art teacher, without breaking the bank or costing hours of planning.
  While there is no replacement for talented and trained art teachers, Doodles Academy helps to create more equitable access to a quality arts education by developing and promoting high-quality, open-ended, and replicable art experiences for elementary aged kids, which align to the common core standards whenever possible. Through online video lessons and accompanying instructional content, Doodles Academy works to support this next generation of creative and adaptive thinkers.
</p>
