<div class="donation-wrapper">
  <div class="donation-header">
    <div class="donation-inner-header">
      <h1>#GivingTuesday</h1>
    </div>
  </div>
  <div class="donation-body-wrapper">
    <div class="donation-info">
      <div class="donation-blurb">
        <h2>Give today, impact forever.</h2>
        <p>We work to close the opportunity gap to art education so all students can learn the skills they need to be successful, creative, and innovative adults.</p>
      </div>
      <div class="donation-image">
        <%= image_tag('giving-tuesday.png') %>
      </div>
      <div class="donation-blurb">
        <p>Over the last year, Doodles Academy has provided high quality visual art lessons to more teachers than ever before: we currently have 1300 registered educators using Doodles lessons, reaching approximately 29,000 students.</p> 
        <p>This #GivingTuesday, you can help by making a donation to support our mission to expand children's access to high quality arts education.</p> 
      </div>
      <div class="donation-testimonial">
        <p>“I am a second grade teacher at a low SES school in Reno, Nevada. [...] I see a huge connection with kids who are struggling at home to meet their basic needs and art. When given the opportunity to express themselves through art they are able to communicate their pain, their dreams, their desires and their hopes. It is like magic.“</p>
        <p>-Janelle Mousel</p>
      </div>
      <div class="donation-footer">
        <p>Doodles Academy is a <strong>501(c)3</strong> and donations are tax deductible to the extent allowed by law. <strong>EIN: 47-4434306</strong>.</p>
      </div>
    </div>
    <div class="donation-widget">
      <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/donations-463?hide_donation_meter=true" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
    </div>
  </div>
</div>

