<div class="landing-page-wrapper">
  <div class="header-wrapper">
    <div class="header-hero">
      <div class="header-inner">
        <div class="header-logo"></div>
        <div class="header-text">
          <h2>Download a free lesson!</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="form-block">
    <div class="announce-wrapper">
      <div class="announce-heading">Authentically engage your students through Art.</div>
      <div class="announce-subheading">For the month of November, in celebration of Native American Heritage Month we are offering a free download of our Totem Animal project.</div>
    </div>
    <div class="form-wrapper">
      <%= render "shared/subscribe_new" %>
    </div>
  </div>
  <div id="thank-you-block">
    <h2>Thank you for subscribing!</h2>
    <a href="/materials/Totem-Animal_Scope-and-Sequence.pdf">Click here to download</a>
  </div>
  <div class="detail-block">
    <div class="detail-item one">
      <div class="detail-image"></div>
      <div class="detail-text">
        <h2>Learning</h2>
        <p>In this project, student artists study art made by Indigenous Cultures around the world. They learn that the Native Americans in the Pacific Northwest believed that totem animals could represent traits of a person, a family, or a tribe.</p>
      </div>
    </div>
    <div class="detail-item two">
      <div class="detail-image"></div>
      <div class="detail-text">
        <h2>Creating</h2>
        <p>They choose a totem animal to represent themselves, with the option of also including totem animals to represent their family. They draw them, paint them, then finish by learning about visual texture and adding a final layer of paint to their piece.</p>
      </div>
    </div>
    <div class="detail-item three">
      <div class="detail-image"></div>
      <div class="detail-text">
        <h2>Engaging</h2>
        <p>Students build knowledge around Native American Culture in an authentic and engaging way that can connect to classroom topics and themes.</p>
      </div>
    </div>
  </div>
  <div class="landing-footer">
    <div class="more-lessons">
      <a href="/projects">View more lessons</a> 
    </div>
    <div class="social"></div>
  </div>
</div>