<div class="landing-page-wrapper">
  <div class="header-wrapper">
    <div class="header-hero">
      <div class="header-inner">
        <div class="header-logo"></div>
        <div class="header-text">
          <h2>Download a free lesson!</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="form-block">
    <div class="announce-wrapper">
      <div class="announce-heading">This holiday season, connect with your kids through art.</div>
      <div class="announce-subheading">Use your time off to work with your kids to create a unique family portrait that you can keep as a memento of your time together, or frame as a unique gift. For the month of December, we are offering a free lesson download to guide you in creating your art project–our gift to you!</div>
    </div>
    <div class="form-wrapper">
      <%= render "shared/subscribe_new" %>
    </div>
  </div>
  <div class="detail-block">
    <div class="detail-item one">
      <div class="detail-image"></div>
      <div class="detail-text">
        <h2>Learning</h2>
        <p>In this project, your kids will study art made by Indigenous Cultures around the world. They learn that the Native Americans in the Pacific Northwest believed that totem animals could represent traits of a person, a family, or a tribe.</p>
      </div>
    </div>
    <div class="detail-item two">
      <div class="detail-image"></div>
      <div class="detail-text">
        <h2>Creating</h2>
        <p>Your kids will choose a totem animal to represent themselves, with the option of also including totem animals to represent their family. They draw them, paint them, then finish by learning about visual texture and adding a final layer of paint to their piece.</p>
      </div>
    </div>
    <div class="detail-item three">
      <div class="detail-image"></div>
      <div class="detail-text">
        <h2>Connecting</h2>
        <p>Your kids will authentically engage with a topic and learn about another culture, while sharing some of their own experiences and views through their art. Through this project, you'll have the opportunity to connect to your child, learn more about them, and come away with a lasting artwork to celebrate your time together.</p>
      </div>
    </div>
  </div>
  <div class="landing-footer">
    <div class="more-lessons">
      <a href="/projects">View more lessons</a> 
    </div>
    <div class="social"></div>
  </div>
</div>