<% content_for(:nav_size_class) { 'large' } %>
<div class="homepage">
  <section class="hero">
    <img src="/assets/hero-image.jpg">
    <p class="lead">
      Our mission is to provide the tools necessary for art lessons that inspire students to meet their creative potential.
    </p>
  </section>

  <section class="bg-accent-orange">
    <div class="content">
      <h2>Doodles Academy</h2>
      <p class="lead">
        A digital inventory of comprehensive, easy-to-use art lessons for schools, classrooms, teachers and students.
      </p>
      <p>Simply put, we're making art education more accessible.</p>
      <p>Doodles Academy works to eliminate the barriers that too many teachers have in providing a high-quality arts education to their students. By creating an inventory of thoughtful and engaging art lessons, teachers assemble their curriculum-choosing the projects and activities they know are best for their students- and Doodles Academy takes care of the details.</p>
    </div>
  </section>

  <section class="bg-accent-orange">
    <div class="content">
      <h2>Featured Videos</h2>
      <p></p>
      <div class="gallery">
        <div class="images">
          <div class="gallery-img">
            <img src="/assets/map-direction-image.jpg">
            <div class="gallery-play-btn"></div>
            <div class="gallery-play-btn"></div>
            <div class="gallery-img-title">
              Lesson Title
            </div>
          </div>
          <div class="gallery-img">
            <img src="/assets/map-direction-image.jpg">
<div class="gallery-play-btn"></div>
            <div class="gallery-img-title">
              Lesson Title
            </div>
          </div>
          <div class="gallery-img">
            <img src="/assets/map-direction-image.jpg">
            <div class="gallery-play-btn"></div>
            <div class="gallery-img-title">
              Lesson Title
            </div>
          </div>
          <div class="gallery-img">
            <img src="/assets/map-direction-image.jpg">
            <div class="gallery-play-btn"></div>
            <div class="gallery-img-title">
              Lesson Title
            </div>
          </div>
          <div class="gallery-img">
            <img src="/assets/map-direction-image.jpg">
            <div class="gallery-play-btn"></div>
            <div class="gallery-img-title">
              Lesson Title
            </div>
          </div>
        </div>
        <div class="gallery-tools">
          <div class="gallery-tools-next"></div>
          <div class="gallery-tools-prev"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="hero">
    <img src="/assets/map-direction-image.jpg">
    <p class="lead">
      We create the map. <br/>
      You choose the direction.
    </p>
  </section>

  <section class="bg-accent-purple">
    <div class="content">
      <h2>Support Doodles Academy</h2>
      <p class="lead">
        Wow. This is so freaking awesome.
      </p>
      <a class="btn btn-large btn-orange">
        Donate Here
      </a>
    </div>
  </section>

  <section class="hero">
    <img src="/assets/founder-section-sidebar.jpg">
    <p class="lead">
      "Testimonial from someone here" <br/>
      - Alex Hunley, Spectacular Person
    </p>
  </section>

  <section class="bg-accent-green">
    <div class="content">
      <h2>Sign Up for our Newsletter</h2>
      <p class="lead">
        OMG! A Newsletter?
      </p>
      <a class="btn btn-large btn-purple">Sign Up Here</a>
    </div>
  </section>

</div>
