<% content_for (:hero_content) { image_tag 'doodle_white.png', size: "350" } %>
<% content_for :hero_content do %>
 <h2 style="margin-top: -50px;"> Students aren't carbon copies.</h2>
 <h2 style="margin-top: -10px;"> Why should their art be? </h2>
<%end %>

<div class="homepage">
 <section class="homepage-section hero white-section">
   <div class='homepage-content hero-content white-section'>
     <h2>High-quality arts education for all.</h2>
     <p class="lead">
       Our mission is to expand children's access to high-quality arts education.
       Our vision is that every child receives an arts education that inspires and rewards creativity, growth and problem solving, irrespective of cost or zip code.
     </p>
 </div>
 </section>
 <section class="homepage-section">
    <div class="homepage-content">
      <div id="first-video" class="frame frame--16x9">
        <iframe src="<%= @intro_video_url %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </section>

  <section class="homepage-section hero white-section">
    <div class="homepage-content hero-content white-section">
      <h2 class='jumbo'>
        Art lessons that inspire real creativity.
      </h2>
      <p class='lead'>
        Doodles provides high-quality art education that inspires and rewards individual creativity, growth, and problem solving.
      </p>
      <div style='text-align: right;'>
        <a class="btn btn-xl btn-warmgray" href='/projects'>
          See More Projects
        </a>
      </div>
    </div>
  </section>
  <section class="homepage-section hero" style="background-color:primary-blue;">
    <%= image_tag 'u43.png', class:"hero-img", style:"height:100%;" %>
    <div class="homepage-content hero-content">
      <h2 class='jumbo'>
        We make high-quality art education easy.
      </h2>
      <div>
        <p class='lead'>
          Doodles Academy brings art education to underserved students. We provide a free online curriculum and partner with schools in order to bring art classes where there would otherwise be none.
        </p>
      </div>
  </section>
  <section class="hero quote white-section">
    <div class="hero-content">
      <div class="quote-contents" style="color:black;"></div>
    </div>
    <div class="quote-selector"></div>
  </section>
  <section class="homepage-section hero">
    <%= image_tag 'u36.png', class:"hero-img", style:"height:100%;" %>
    <div class="homepage-content hero-content">
      <h2 class='jumbo'>
        Every student deserves art.
      </h2>
      <div>
        <p class='lead'>
         Our vision is that every child receives an arts education that inspires and rewards creativity, growth and problem solving, irrespective of school budget, zip code, or student demographics.
        </p>
        <p class='lead'>
         Donations help us develop and offer our free classes and free online curriculum, bringing high-quality art education to students everywhere.
        </p>
      </div>
      <div style='text-align: right;'>
        <a class="btn btn-xl btn-blue" href="/donate">
          Donate Now
        </a>
      </div>
    </div>
  </section>
</div>
