<% content_for (:hero_content) { image_tag 'doodle_white.png', size: "350"} %>
<% content_for :hero_content do %>
 <h2 style="margin-top: -50px;"> Students aren't carbon copies.</h2>
 <h2 style="margin-top: -10px;"> Why should their art be? </h2>
<%end %>

<div class="homepage">
 <section class="homepage-section">
    <div class="homepage-content">
      <div class="frame frame--16x9" style="margin: 50px 0">
        <iframe src="<%= @intro_video_url %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="lead">
        Our mission is to expand children's access to high-quality arts education; we work to remove barriers for educators, and strive to make it easy to offer excellence.
      </p>
    </div>
  </section>

  <section class="homepage-section hero">
    <%= image_tag 'quotes/imagequilt.jpg', class:"hero-img", style:"height:100%;" %>
    <div class="homepage-content hero-content">
      <h2 class='jumbo'>
        Art lessons that inspire real creativity.
      </h2>
      <p class='lead'>
        Doodles provides high-quality art education that inspires and rewards individual creativity, growth, and problem solving.
      </p>
      <p class='lead' style="font-size: 75%">
        Artwork from Near & Far project
      </p>
      <div style='text-align: right;'>
        <a class="btn btn-xl btn-yellow" href='/projects'>
          See More Projects
        </a>
      </div>
    </div>
  </section>
  <section class="homepage-section">
    <div class="homepage-content">
      <h2 class='jumbo'>
        We make high-quality art education easy.
      </h2>
      <div>
        <p class='lead'>
          Doodles Academy brings art education to more students. We provide a free online curriculum and partner with schools in order to bring art classes where there would otherwise be none.
        </p>
      </div>
      <div style='text-align: right;'>
        <a class="btn btn-xl btn-blue" href='/projects'>
          Go to Lesson Plans
        </a>
      </div>
  </section>
  <section class="hero quote">
    <%= image_tag 'quotes/quote_image.jpg', class:"hero-img" %>
    <div class="hero-content">
      <div class="quote-contents"></div>
    </div>
    <div class="quote-selector"></div>
  </section>
  <section class="homepage-section bg-accent-green">
    <div class="homepage-content">
      <!-- <h2 style="font-size: 26px; font-weight: 500;"> -->
      <h2 class='jumbo'>
        Every student deserves art.
      </h2>
      <div>
        <p class='lead'>
         Our vision is that every child receives an arts education that inspires and rewards student creativity, growth and problem solving, irrespective of school budget, zip code, or student demographics.
        </p>
        <p class='lead'>
         Donations help us develop and offer our free classes and free online curriculum, bringing quality art education to students everywhere.
        </p>
      </div>
      <div style='text-align: right;'>
        <a class="btn btn-xl btn-white" href="/donate">
          Donate Now
        </a>
      </div>
    </div>
  </section>
</div>
