<% content_for(:page_title) { ('Partners') } %>
<% content_for(:hero_image) { 'top_hero_image' } %>
<% content_for(:hero_content) { 'Partners are cool too.' } %>

<h1>Partners</h1>

<p class="lead">Our wonderful partners</p>
