<% content_for(:page_title) { ('Volunteer') } %>
<% content_for(:hero_image) { 'top_hero_image' } %>
<% content_for(:hero_content) { 'Volunteer with us.' } %>

<section class="wrapper">
  <h1>Volunteer</h1>

  <p class="lead">
    Join us on our mission to change the world!
  </p>
</section>
