<% if @project.featured_artist_image.present? %>
  <div class="featured-artist">
    <div class="row">
      <div class="example col-md-9 vcenter" id="example">
        <div class="student-image">
          <%= image_tag @project.featured_artist_image.url(:medium) %>
        </div>
        <div class="student-example">
          STUDENT EXAMPLE
        </div>
        <div class="superhero-quote">
          <%= @project.featured_artist_description %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class='markdown-wrapper'>
  <%= render "shared/sections", sectionable: @project %>
</div>
