<% content_for(:nav_size_class) { 'small' } %>
<div class="projects">
  <h1>Available Projects</h1>
  <% @projects.each do |set| %>
    <section class="project">
      <div class="info">
        <h2><%= set.title %></h2>
      </div>
      <div class="links">
        <%= link_to "Upper Academy", project_path(set.upper) %>
        <%= link_to "Lower Academy", project_path(set.lower) %>
      </div>
    </section>
  <% end %>
</div>
