<% content_for(:page_title) { ('Projects') } %>
<% content_for(:hero_image) { 'top_hero_image' } %>
<% content_for(:hero_content) { 'Check out our cool Projects.' } %>

<h1>Projects</h1>
<% @projects.each do |set| %>
  <section class="project">
    <div class="info">
      <h2><%= set.title %></h2>
    </div>
    <div class="links">
      <%= link_to "Upper Academy", project_path(set.slug, level: "upper") %>
      <%= link_to "Lower Academy", project_path(set.slug, level: "lower") %>
    </div>
  </section>
<% end %>
