<% content_for(:page_title) { 'Projects' } %>
<% content_for(:hero_image) { image_tag 'heros/project.jpg' } %>

<div class='individual-project'>
  <% @projects.each do |set| %>
    <div class="project-grid-item" data-project-slug="<%= set.slug %>">
      <!-- <div class="project-grid-item-unit-title">
        <%= "Unit #{set.unit_number}: #{set.unit}" %>
      </div> -->
      <div class="project-grid-item-image" style="background-image: url(
        <%= set.project_image.url(:medium) %>)">
      </div>
    </div>
    <div class="project-grid-item-title"><%= set.title %></div>
  <% end %>
</div>

<div class="modal" id="academy-select">
  <div class="modal-content">
    <div class="modal-close"></div>
    <div class="modal-title">
      <h2>Please choose an academy:</h2>
    </div>
    <div class="modal-body">
      <div class="btn-group">
        <div class="btn btn-academy" data-level="lower">
          Lower Academy
          <div class="academy-info">Grades 1-2</div>
        </div>
        <div class="btn btn-academy" data-level="upper">
          Upper Academy
          <div class="academy-info">Grades 3-5</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us10.list-manage.com","uuid":"28ca6056cf1fcbb59340d2de6","lid":"434752e97b"}) })</script>
