<% content_for(:page_title) { ("#{@project.title}") } %>
<% content_for(:hero_image) { image_tag @project.inspiration_image.url(:large) } %>
<% content_for(:hero_title) { "#{@project.title}".titleize } %>
<% content_for(:hero_subtitle) { "#{@project.level} Academy".titleize } %>

<div class="aside-content">
  <% if @project.featured_artist_image.present? %>

  <div class="featured-artist">
    <p id="student_example">Student Example</p>
    <%= image_tag @project.featured_artist_image.url(:medium) %>
    <%= markdown @project.featured_artist_description %>
  </div>
  <% end %>

  <div class="project-section" id="lessons">
    <h1>Lessons</h1>
    <% @project.lessons.each do |lesson| %>
    <%= link_to lesson.title %>
    <% end %>
  </div>

  <div class="project-section" id="overview">
    <%= render "shared/sections", sectionable: @project %>
  </div>

</div>
