<div class="projects">
  <section class="info">
    <h1><%= @project.title %></h1>
    <p class="description"><%= @project.description %></p>
  </section>
  <section class="gallery">

  </section>
  <section class="supplies">

  </section>
  <section class="supplmental">

  </section>
</div>
