<% content_for(:page_title) { ("#{@project.title}") } %>
<% content_for(:hero_image) { image_tag @project.inspiration_image.url(:large) } %>
<% content_for(:hero_title) { "#{@project.title}".titleize } %>
<% content_for(:hero_subtitle) do 
  render "shared/academy_project_links", academy: @academy
end %>
<% content_for(:lessons) { @project.lessons } %>

<p class='lead'>
  Enticing description here!
</p>

<% if @project.featured_artist_image.present? %>
<div class="featured-artist">
  <p class="student-example">Student Example</p>
  <%= image_tag @project.featured_artist_image.url(:medium) %>
  <%= @project.featured_artist_description %>
</div>
<% end %>

<blockquote class="backdrop toc">
  <p class="toc-title">Project Overview Map</p>
  <%= render "shared/table_of_contents", sectionable: @project %>
</blockquote>

<div class='markdown-wrapper'>
  <%= render "shared/sections", sectionable: @project %>
</div>
