.about-wrapper {

 iframe {
    width: 700px;
    margin: 0 8em;
    height: calc(700px / 1.78);
  }

  p, h2 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    color: $primary-blue;

    &:nth-of-type(2) {
      margin-top: 30px;
    }
  }

  img {
    width: 20%;
    margin-left: 120px;
    margin-right: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
  }

  div.button-div {
    margin: 80px 0 100px 0;
    text-align: center;

    div {
      display: inline;
    }

    .btn-blue {
      margin-left: 60px;
    }

    .btn-gray {
      color: grey;
      width: 220px;
    }
  }
}
