
.admin-wrapper {
  margin-left: 250px;
  padding: 2em;
}

.admin-nav {
  background-color: $accent-purple;
  position: fixed;
  width: 250px;
  top: 0px;
  left: 0px;
  bottom: 0px;

  ul {
    padding: 2em;
    list-style: none;
  }
}

.admin-nav-item {
  padding: 0.5em;
  font-size: 14px;
  font-weight: 500;

  a, a:visited {
    color: rgba(white, 0.6);
    transition: 200ms ease;

    &:hover, &:active {
      color: rgba(white, 1.0);
    }
  }
}
