// Aside
//
.aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  font-size: 15px;
  list-style: none;
  transform: translate3d(0, 0, 0);

  ul {
    list-style: none;
    padding: 0.25em;
  }

  li {
    padding: 0.25em;
    font-size: 13px;
    transition: 200ms ease;
  }

}

.aside-content {
  margin-left: 150px;
  padding: 0 1em;

  h1, h2 {
    color: $project-header-blue;
    text-transform: uppercase;
    font-weight: 800;
  }


  h1, h2, h3, h4, h5, h6 {
    text-align: inherit;
  }

  h3, h4, h5, h6 {
    text-transform: none;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3, ul, li {
    font-size: 1.6em;
  }

  ul {
    padding-left: 2em;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }
}

.featured-artist {
  font-size: 16px;
  color: gray;
  margin-bottom: 20px;

  img {
    margin: 0 0 20px -40px;
  }
}

.student-example {
  font-size: 12px;
  color: #CCCCCC;
  line-height: normal;
  text-transform: uppercase;
  font-weight: 800;
}

.featured-artist-description {
  font-size: 16px;
  margin: auto;
}

/* needs some sort of overall max-width */

/*FONTS*/

body {
  font-family: 'Raleway', sans-serif;
}

.student-example {
  font-size: 12px;
  color: lightgray;
  font-weight: 800;
  margin-bottom: 20px;
}

.superhero-name {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.superhero-quote {
  font-size: 16px;
  color: gray;
  margin-bottom: 20px;
}

.student-name {
  font-size: 16px;
  color: gray;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 28px;
  color: #888;
}

.student-submit {
  display: inline-block;
}

.row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.student-image img {
  box-shadow: 2px 2px 8px 0 #888;
  float: left;
  margin-right: 40px;
}
