@mixin button-theme ($color-bg) {

  background-color: $color-bg;
  color: white;
  transition: background-color 250ms ease;

  &:visited {
    color: white;
    &:hover, &:active {
      color: white;
    }
  }

  &:hover {
    background-color: darken($color-bg, 15%);
    color: white;
  }
  &:active {
    background-color: darken($color-bg, 25%);
    color: white;
  }
}

.btn, a.btn, button.btn {
  @include textCap;
  font-size: 0.8em;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  padding: 0.6em 1.6em;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.btn-large, a.btn-large, button.btn-large {
  font-size: 1em;
  padding: 0.8em 2.2em;
}


.btn-xl, a.btn-xl, button.btn-xl {
  font-size: 20px;
  padding: 14px 30px;
}

.btn-red {
  @include button-theme($primary-red);
}

.btn-yellow {
  @include button-theme($primary-yellow);
}

.btn-blue {
  @include button-theme($primary-blue);
}

.btn-purple {
  @include button-theme($accent-purple);
}

.btn-orange {
  @include button-theme($accent-orange);
}

.btn-green {
  @include button-theme($accent-green);
}

.btn-gray {
  @include button-theme($accent-gray);
}

.btn-white {
  @include button-theme(white);
}
