@mixin button-theme ($color) {

  background-color: $color;
  color: white;
  transition: background-color 250ms ease;

  &:hover {
    background-color: darken($color, 15%);
    color: white;
  }

  &:active {
    background-color: darken($color, 25%);
    color: white;
  }
}

.btn, a.btn, button.btn {
  display: inline-block;
  font-family: $button-font;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 0.6em 1.6em;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.btn-large, a.btn-large, button.btn-large {
  font-size: 1.2em;
  padding: 0.8em 2.2em;
}


.btn-red {
  @include button-theme($primary-red);
}

.btn-yellow {
  @include button-theme($primary-yellow);
}

.btn-blue {
  @include button-theme($primary-blue);
}

.btn-purple {
  @include button-theme($accent-purple);
}

.btn-orange {
  @include button-theme($accent-orange);
}

.btn-green {
  @include button-theme($accent-green);
}

.btn-gray {
  @include button-theme($accent-gray);
}