// Colors
$background-color: #FFFFFF;
$text-color: #000000;

$footer-grey: #9594A4;

$primary-red: #DA232E;
$primary-blue: #419ED5;
$primary-yellow: #FCCC31;

$accent-black: #000000;
$accent-gray: #DDDEE0;
$accent-green: #31B79A;
$accent-orange: #F6A631;
$accent-purple: #5E5AA3;

$background-purple: #4B4583;
$active-purple: #645EA6;
$input-purple: #57528C;

$background-blue: #599FD2;

$project-header-blue: #8DC5E6;

// Miscellaenous variables
//
$content-max-width: 800px;
$content-min-width: 480px;
