.contact-page {
  text-align: left;

    width: 1000px;
    color: $warm-gray;

    h1 {
      text-align: left;
      margin-left: 2%;
      font-weight: 800;
    }

    h3 {
      text-align: left;
      margin-left: 2%;
      color: $warm-gray;
    }

    #contact-follow-us {
      margin-top: 40px;
    }

  .mc-field-group {
    text-align: left;
    #mce-EMAIL, #mce-FNAME, #mce-LNAME {
      font-family: $primary-font;
      font-weight: 300;
      height: 40px;
      width: 97%;
      border-radius: 10px;
      font-size: 1.5em;
    }
    label {
      text-transform: none;
      font-size: 1em;
      font-weight: 500;
    }

    &.input-group .mc-checks {
      margin-right: 5px;
    }
  }

  .contact-logo {
    width: 60px;
    height: 60px;

    &:first-of-type {
      margin-right: 10px;
    }
  }

  .thanks {
    width: 900px;
    p {
      text-align: justify;
      font-size: 1.6em;
      margin: 40px 0;
    }

  }
}
