.donation-wrapper {
  display: flex;
  flex-direction: column;

  .donation-header {
    height: 275px;
    margin-bottom: 80px;
    background: url("heros/donate.png");
    background-position: 70% 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .donation-image {
    margin: 25px 0;
  }

  .donation-inner-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
    width: 550px;
    color: white;
    border: 1px solid white;

    h1 {
      color: white;
      margin: 0;
    }
  }

  .donation-body-wrapper {
    display: flex;
    justify-content: space-between;

    p,
    figcaption {
      color: $warm-gray;
    }

    h1,
    h2,
    h4 {
      font-weight: bold;
    }

    ol {
      padding: 0 0 0 12px;

      li {
        font-size: 18px;
        padding-bottom: 15px;

        h4 {
          margin-bottom: 10px;
        }

        p {
          margin: 0 0 0 -12px;
        }
      }
    }

    .donation-info {
      width: 55%;
    }

    .footnotes {
      margin-bottom: 150px;

      // accounts for navbar height when hash link is clicked
      .footnote:before {
        display: block;
        content: "";
        height: 65px;
        margin-top: -65px;
      }
      .footnote {
        font-size: 14px;
        margin: 0;
      }
    }
  }

  .donation-widget {
    width: 40%;
  }
}
