.supporters {

  h1 {
    text-align: center;
    text-transform: none;
    font-weight: 300;
    margin-left: -100px;
    margin-bottom: 1.3em;

    &:nth-of-type(2) {
      margin-bottom: 1em;
    }
  }

  h2:first-of-type {
    margin-left: 140px;
  }

  .partners-image {
    width: 35%;
    float: right;
    margin: 2em;
  }

  ul.donors {
    text-align: left;
    margin: 0 0 3.5em 0;
    column-count: 3;

    li {
      list-style: none;
      break-inside: avoid;
    }
  }

  .additional-thanks {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo {
      width: 40%;
      margin-right: 40px;
    }
  }

}
