.supporters {
  margin-bottom: 90px;

  h1 {
    text-align: center;
    text-transform: none;
    font-weight: 300;
    margin-left: -100px;
    margin-bottom: 1.3em;

    &:nth-of-type(2) {
      margin-bottom: 1em;
    }
  }

  ul {
    text-align: left;
    margin-bottom: 50px;
    column-count: 3;

    li {
      list-style: none;
      break-inside: avoid;
    }
  }

  .google {
    h2 {
      margin-left: 140px;
    }

    img {
      float: left;
      margin-right: 40px;
    }

    p {
      margin-bottom: 40px;
    }
  }

  .portland-child-art-studio {
    img {
      width: 35%;
      float: right;
      margin: 2em;
    }
  }

}
