// Fonts
//
$primary-body-font: 'Open Sans', sans-serif;
$font-size: 16px;


// Colors
//
$background-color: #FFFFFF;
$text-color: #000000;

$primary-red: #DA232E;
$primary-blue: #419ED5;
$primary-yellow: #FCCC31;

$accent-black: #000000;
$accent-gray: #DDDEE0;
$accent-green: #31B79A;
$accent-orange: #F6A631;
$accent-purple: #5E5AA3;


// Miscellaenous variables
//
$content-max-width: 800px;
$content-min-width: 480px;


// Mixins
//
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


// Elements
//
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-size: $font-size;
  font-family: $primary-body-font;
}

a {
  color: $primary-blue;
  text-decoration: none;

  &:hover {
    color: $primary-red;
  }
}

p {
  line-height: 1.5em;
}


// Application layout elements
//

// Nav-bar
.nav {
  width: 100%;
  background-color: $primary-blue;
  color: $primary-yellow;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;

  .brand {
    height: 200px;
    transition: height 200ms;
  }

  .logo {
    margin: 0 auto;
    max-height: 100%;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 200ms ease;
  }

  &.small {
    z-index: 100;


    .brand {
      height: 100px;
      width: 60px;
      transition-delay: 100ms;
      margin-left: 50px;
      display: block;
    }

    .logo {
      left: 0;
      height: 100px;
      transform: none;
    }

    .nav-menu {
      margin: 0;
      display: block;
      opacity: 0;

      li {
        padding: 40px;
      }
    }
  }

  &.flex {
    display: flex;

    .nav-menu {
      opacity: 1;
    }
  }


  .nav-menu {
    display: table;
    margin: 0 auto;
    transition: opacity 100ms ease;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        text-align: center;
        padding: 10px 30px;
        display: inline-block;
        text-transform: lowercase;
        font-size: 1.3em;
        background-color: rgba(255, 255, 255, 0);
        transition: background-color 150ms ease;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }

    a {
      color: white;
    }

    &.hanging {
      position: relative;
      display: block;
      width: 100%;
      margin: -3px 0 0 0;
      padding: 0;
      height: 50px;
      line-height: 50px;
      background-color: $accent-green;
      color: $primary-yellow;
      text-align: center;

      .hanging-menu-content {
        max-width: $content-max-width;
        min-width: $content-min-width;
        margin: 0 auto;
      }
    }

    &.linear {
      position: inline-block;
    }
  }
}


// Footer
.footer {
  width: 100%;

  div {
    width: $content-max-width;
    margin: 0 auto;

    &.foot-top {
      height: 50px;
      background-color: $accent-green;
    }

    &.foot-bottom {
      height: 100px;
      background-color: $accent-gray;
    }
  }
}
