// Fonts
$primary-body-font: Helvetica, sans-serif;
$font-size: 14px;

// Colors
$background-color: #FFFFFF;
$text-color: #000000;

$primary-red: #DA232E;
$primary-blue: #419ED5;
$primary-yellow: #FCCC31;

$accent-black: #000000;
$accept-gray: #DDDEE0;
$accent-green: #31B79A;
$accent-orange: #F6A631;
$accent-purple: #5E5AA3;

// Miscellaenous variables
$content-max-width: 800px;
$content-min-width: 480px;

// Elements
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-size: $font-size;
  font-family: $primary-body-font;
}

p {
  line-height: 1.5em;
}

div#top-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary-blue;

  &.large {
    height: 100px;
  }

  &.small {
    height: 35px;
  }

  div#top-nav-content {
    max-width: $content-max-width;
    min-width: $content-min-width;
    position: relative;
    margin: 0 auto;
  }
}
