// Hero
//
.hero {
  background-color: black;
  position: relative;
  margin: 0;
  max-height: 480px;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.hero-video,
.hero > img {
  opacity: 0.5;
  width: 100%;
  height: auto;

  .homepage .hero:first-child & {
    opacity: 0.7;
  }
}

.hero-content,
.hero-title,
.hero-subtitle,
.quote {
  color: white;
}

.hero-content{
  @extend .wrapper;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  @include textCap;
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: center;
}

.hero-title-subtitle {
  @extend .wrapper;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate3d(-50%, 0%, 0);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.hero-title {
  font-weight: 100;
  font-size: 72px;
}

.hero-subtitle {
  font-family: 'Raleway Medium', 'Raleway';
  font-weight: 500;
  font-size: 16px;
  color: #CCCCCC;
}
