.homepage {

  section {
    padding-top: 150px;

    &:last-child {
      padding-bottom: 100px;
    }
  }

  .homepage-content {
    max-width: $homepage-max-width;
    margin: 0 auto;

    p {
      font-size: 28px;
      font-weight: 300;
      text-align: left;
      line-height: 1.3em;
    }

    h2 {
      text-align: left;
      font-weight: 800;
      font-size: 48px;
      line-height: 1.1;
      color: $primary-blue
    }

    blockquote {
      max-width: 650px;
      height: 350px;
      background-color: $primary-blue;
      color: white;
      padding: 10px;
      border-radius: 10px;
      border: none;
      font-style: normal;
      float: left;

      p {
        margin: 40px;
      }

    }

    .quoted-parent {
      text-align: right;
      margin-top: 63%;
      margin-left: 57%;

      p {
        font-weight: 800;
        color: $warm-gray;
      }

      &:before {
          content: "";
          position: absolute;
          margin-top: -95px;
          left: 700px;
          border-width: 60px 40px 0;
          border-style: solid;
          border-color: $primary-blue transparent;
      }
    }

    .dots {
      text-align: center;
      margin-top: 40px;
      margin-left: -60px;
      img {
      padding-right: 10px;
      }
    }

  }

  iframe {
    width: 100vw;
    margin: 0 auto;
    height: calc(100vw / 1.78);
  }

  .image-background-section {
    margin-top: 100px;
    margin-bottom: 100px;

    background:
    linear-gradient(
      rgba(65, 158, 213, 0.3),
      rgba(65, 158, 213, 0.3)
    ),
    url('u43.png');
    background-size: cover;
    width: 100vw;
    height: calc(100vw / 1.5);
    position: relative;
    float: left;

    .image-background-content {

      p {
        color: white;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-45%, -50%);

        font-size: 2em;
        font-weight: 300;
        text-align: left;
        line-height: 1.3em;
      }

      .emulate-h2 {
        font-weight: 800;
        font-size: 2em;
        line-height: 1.1;
      }

      .btn-white {
        margin-left: 70%;
        margin-top: 20px;
      }
    }
  }


}



////////////////////////

#lesson-gallery {
  position: relative;
  margin-left: -250px;
  width: 100vw;
  clear: both;

  .left-arrow, .right-arrow {
    width: 130px;
    float: left;
    margin-top: 120px;

    img {
      opacity: 0.2;
      filter: alpha(opacity=80);
    }
  }
  .right-arrow {
    margin-top: 113px;
  }
  div {
    &:nth-child(2) {
      margin-right: 20px;
    }
  }

  .gal {
    width: 480px;
    float: left;
    margin-bottom: 60px;
    // margin-bottom: 20px;

    &:nth-child(3) {
      opacity: 0.6;
    }
  }

  .btn-blue {
    // margin-left: 800px;
    // margin-bottom: 40px;
    position: absolute;
    // left: 68%;
    // top: 295px;
    left: 60%;
    top: 175px;
  }
}
