.homepage {

  section {
    padding: 100px 0 100px;
  }

  .homepage-content {
    max-width: $homepage-max-width;
    margin: 0 auto;

    p {
      font-size: 28px;
      font-weight: 300;
      text-align: left;
      line-height: 1.3em;
    }

    h2 {
      text-align: left;
      font-weight: 800;
      font-size: 48px;
      line-height: 1.1;
      color: $primary-blue
    }

    iframe {
      width: 100vw;
      margin-left: -260px;
      height: calc(100vw / 1.78);
    }


    blockquote {
      max-width: 650px;
      height: 350px;
      background-color: $primary-blue;
      color: white;
      padding: 10px;
      border-radius: 10px;
      border: none;
      font-style: normal;
      float: left;

      p {
        margin: 40px;
      }

    }

    .quoted-parent {
      text-align: right;
      margin-top: 63%;
      margin-left: 57%;

      p {
        font-weight: 800;
        color: $warm-gray;
      }

      &:before {
          content: "";
          position: absolute;
          margin-top: -95px;
          left: 700px;
          border-width: 60px 40px 0;
          border-style: solid;
          border-color: $primary-blue transparent;
      }
    }

    .dots {
      text-align: center;
      margin-top: 40px;
      margin-left: -60px;
      img {
      padding-right: 10px;
      }
    }

  }

  .image-background-section {
    position: relative;

    .background-image-color {
      background-color: $primary-blue;
    }

    img {
      width: 100%;
      opacity: 0.75;
    }

    .homepage-content {
      width: 750px;
      color: white;
      position: absolute;
      left: 22%;
      top: 28%;
    }

    h2, p {
      color: white;
    }

    .btn-white {
      margin-left: 70%;
      margin-top: 20px;
    }
  }
}
