.lesson-wrapper {

  h1 {
    color: black;
    font-weight: 300;
    font-size: 36px;
    padding-top: 20px;
  }

  h2 {
    color: #8DC5E6;
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
  }

  h3 {
    color: #666666;
    font-weight: 600;
    text-transform: uppercase;
  }

  h4 {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
  }

  p {
    color: black;
    font-size: 18px;
    font-weight: 400;
  }

  hr {
      color: #333333;
      margin-bottom: -20px;
  }

  blockquote {
    background: #F1F7F7;
    margin: 0;
    padding: 30px;
    border: none;
    max-width: 600px;
  }

  blockquote.toc {
    max-width: none;
  }

  blockquote img {
    padding: 20px;
  }

  .sharing {
    margin: -10px 0 0 0;

    li {
      margin-left: 30px;

      &:last-child {
        margin-bottom: 30px;
      }
    }
  }

  .collapsible {
    background-color: #F1F7F7;
    padding: 20px 20px 50px 20px;
    margin: 20px 0;
    width: 100%;

    h2 {
      display: inline;
    }

    .collapsible-heading {
      width: 97%;
      float: left;

      h3 {
        margin-right: 20px;
      }
    }

    .collapsible-plus {
      width: 3%;
      float: left;

      h2 {
        font-size: 300%;
      }
    }
  }

}

.collapsed {
  margin: 0 20px;
}

.insp-img-wrapper {
  position: relative;
}

#inspiration-image-title {
  font-weight: bold;
}

.insp-img-wrapper {
  position: relative;

  .glyphicon-zoom-in {
      visibility: hidden;
      color: #F1F7F7;
      font-size: 150%;
      position: absolute;
      top: 35px;
      left: 480px;
  }
}

a.modal-insp:hover {
  .glyphicon-zoom-in {
      visibility: visible;
  }
}

.lesson-toc {
  font-size: 14px;
  line-height: 22px;

  h3 {
    display: inline;
    font-size: 14px;
    text-transform: none;
    font-weight: bold;
  }
}
