.markdown-wrapper {

  h1 {
    color: black;
    font-weight: 300;
    font-size: 36px;
    border-top: 1px solid #DDDEE0;
    padding-top: 20px;
  }

  h1:first-child, h1:last-child {
    border-top: 0;
  }

  h2 {
    color: #8DC5E6;
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
  }

  h3 {
    color: #666666;
    font-weight: 600;
  }

  h4 {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
  }

  p {
    color: black;
    font-size: 18px;
    font-weight: 400;
  }

  hr {
      color: #333333
  }

  blockquote {
    background: #F1F7F7;
    margin: 0;
    padding: 30px;
    border: none;
    max-width: 600px;
  }

  blockquote.toc {
    max-width: none;
  }

  blockquote img {
    padding: 20px;
  }
}

.insp-img-wrapper {
  position: relative;

  .glyphicon-zoom-in {
      visibility: hidden;
      color: #F1F7F7;
      // font-size: 200%;
      position: absolute;
      top: 10%;
      left: 90%;
  }
}

a.modal-insp:hover {
  .glyphicon-zoom-in {
      visibility: visible;
  }
}
