.markdown-wrapper {

  h1 {
    color: black;
    font-weight: 300;
    font-size: 48px;
  }

  h2 {
    color: #8DC5E6;
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
  }

  h4 {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
  }

  p {
    color: black;
    font-size: 18px;
    font-weight: 400;
  }

  hr {
      color: #333333 
  }
}
