.member-grid {
  @include grid(member-grid-item, 3, 50px);
}

.member-grid .member-grid-item {
  margin-top: 50px;
  position: relative;
  flex-direction: column;
}

.member-grid .member-grid-item:hover {
  cursor: pointer;
  .member-avatar {
    opacity: 0.3;
    > img {
      filter: blur(2px);
      -webkit-filter: blur(2px);
    }
  }
  .member-info {
    visibility: visible;
    opacity: 1;
  }
}

.member-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  @include ease;
  > img {
    width: 100%;
    object-fit: cover;
  }
}

.modal-baby-picture {
  text-align: center;

  > img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}

.member-info {
  position: absolute;
  left: 0px;
  bottom: 20%;
  width: 100%;

  visibility: visible;
  opacity: 0;
  @include ease;

  text-align: center;
}

.member-name {
  font-weight: 600;
}

.member-bio {
  display: none;
}

ul.volunteer_members {
  text-align: left;
  margin: 0 0 3.5em 0;
  column-count: 3;

  li {
    list-style: none;
    break-inside: avoid;
  }
}
