// Main Application Navigation
@mixin nav-menu-font {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 1px;
}

// Nav-bar
.doodles-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  @include primary-font;
  background-color: transparent;
  @include ease;

  #nav-donate-btn {
    a {
      background-color: $primary-blue;
      border-radius: 3px;
      padding: 5px 20px;
      &:hover {
        background-color: darken($primary-blue, 15%);
      }
    }
  }

  #no-hero + &,
  &.is-scrolled, &:hover {
    background-color: $primary-blue;
    height: 65px;

    .brand {
      transform: scale(0.8);
    }

    #nav-donate-btn {
      a {
        background-color: $primary-green;
        &:hover {
          background-color: darken($primary-green, 5%);
        }
      }
    }

    .dropdown {
      position: relative;
      display: inline-block;

      &:hover {
        padding-top: 33px;
        padding-bottom: 24px;
        margin-top: 33px;
        margin-bottom: 43px;
        background-color: #70beeb;
      }
    }

    .dropdown-content {
        @include nav-menu-font;
        color: white;
        display: none;
        position: absolute;
        left: 0;
        background-color: #9adaff;
        min-width: 100%;
        border-radius: 0 0 50px 50px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        margin-top: 24px;
        z-index: 1;

        a {
          display: block;
          text-transform: lowercase;
          font-size: 1.1em;
          margin-top: 20px;
          margin-bottom: 40px;

          &:last-child {
            margin-bottom: 30px;
          }
        }
    }
  }

  .nav-menu {
    list-style-type: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      @include nav-menu-font;

      a, a:visited {
        color: white;

        &:hover {
          cursor: pointer;
          border-bottom: 2px solid white;
        }
      }

    }

    #nav-logo, #nav-donate-btn, .dropdown {
      a:hover {
        border-bottom: none;
      }
    }
  }


}
