.donors, .community-partners {
  text-align: center;
  text-transform: none;
  font-weight: 300;
}

.partners-image {
  width: 35%;
  float: right;
  margin: 2em;
}

ul.donors {
  text-align: left;
  margin: 3em 0 6em 0;

  li {
    display: inline;
    margin: 0 10em 0 0;

    &:last-child {
      margin: 0;
    }
  }
}
