.project-grid {
  @include grid(project-grid-item);
  width: $content-max-width;
  margin: 4em auto 0;
}

.project-grid-item {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 24px;
  border: 1px solid darken(white, 10%);
  transition: 200ms ease;

  .project-grid:hover &:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
  }

  .project-grid:hover & {
    transform: scale(0.9);
    opacity: 0.8;
  }
}

.project-grid-item-unit-title,
.project-grid-item-title {
  font-weight: 400;
  text-align: center;
  padding: 0.5em;
}

.project-grid-item-title {
  letter-spacing: 2px;
  font-size: 1.4em;
}

.project-grid-item-image {
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 80%;
  background-size: cover;
}

.toc {
  background-color: #F2F7F7;
  border: none;
  font-style: normal;
  color: #666;
  font-size: 11pt;
  padding: 25px 45px;
  counter-reset: my-counter;
}

.toc-title {
  color: #666666;
  font-weight: 700;
  font-size: 18px;
}

.toc > ul {
  > li {
    list-style: none;
    font-size: 14px;
  }
  > li > a {
    font-weight: bold;
    color: #666666;
    &::after {
      font-weight: bold;
      content: ':'
    }
  }
  ul, a, ul li {
    display: inline;
    list-style: none;
  }
}

.toc ul ul li:not(:last-child)::after {
  content: '>'
}

.toc ul li:nth-child(even) ul li:before {
  content: counter(my-counter);
  counter-increment: my-counter;
}

.lesson-map {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.lesson-point {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid $primary-blue;

  &:hover {
    cursor: pointer;
  }
}

.lesson-point-title {
  position: absolute;
  bottom: -60%;
  left: -50%;
  right: -50%;
  text-align: center;
  color: $accent-gray;
  transition: color 200ms ease;

  .lesson-point:hover & {
    color: $primary-blue;
  }
}

.lesson-point-flash {
  @include vh-center;
  width: 10px;
  height: 10px;
  background-color: $primary-blue;
  border: 8px solid transparent;
  border-radius: 50%;
  transition: 200ms ease;

  .lesson-point:hover & {
      background-color: white;
      border-color: $primary-blue;
      height: 32px;
      width: 32px;
  }
}

.academy-selector {
  color: white;
  font-weight: 500;
  font-size: 16px;

  span {
    color: #999;
  }
  a, a:visited {
    color: #999;
    @include ease;
    &:hover {
      color: white;
    }
  }
}

.project-wrapper {
    .featured-artist-attribution {
      font-size: 16px;
      color: gray;
    }
}
