.shroud {
  display: none;
  @include fixed-position;
  background-color: rgba(black, 0.4);
  padding: 20% 0;
  &.is-active {
    display: block;
    z-index: 1000;
  }
}

.shroud-content {
  width: 50%;
  margin: 0 auto;
  background-color: darken(white, 10%);
  padding: 2em;
}

.shroud-title {
  text-align: center;
  text-transform: lowercase;
}

.shroud-body {
  padding: 2em;
}

.btn-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-academy {
  background-color: $background-blue;
  color: white;
  text-align: center;
  border-radius: 0px;
  padding: 1em 2.5em;
  font-weight: 300;
  font-size: 14px;
  &:hover {
    background-color: darken($background-blue, 10%);
  }
  &:active {
    background-color: darken($background-blue, 20%);
  }
}

.btn-academy .btn-info {
  font-size: 12px;
  font-weight: 300;
  text-transform: none;
  font-style: italic;
}
