.sign-up {

  margin-top: -2em;
  margin-left: 5em;

  div {
    display: inline-block;
  }

  h2, a {
    color: $primary-blue;
  }

  .field {
    margin: 0.5em;
    width: 25em;
    &.smaller-field {
      width: 5em;
    }
    input:not([type='checkbox']) {
      border-radius: 0.75em;
      color: $warm-gray;
    }
  }

  .actions, a {
    margin: 2em 0;
    .btn {
      background-color: $primary-green;
    }
  }

}
