.sign-in-wrapper {
  width: 600px;
  margin: 0 auto;
}

.sign-in {

  a {
    color: $primary-blue;
  }
  
  .field {
    margin: 1.6em 0;
    label {
      @include label-font-styles;
    }
    input:not([type='checkbox']),
    textarea {
      @include input-styles;
      border-radius: 25px;
      text-align: center;
      color: $warm-gray;
      width: 600px;
      padding: 10px;
      font-size: 1.5em;
      font-style: italic;
    }
  }

  .actions {
    margin-bottom: 10px;
    .btn {
      background-color: $primary-green;
    }
  }

}
