.sign-in {
  text-align: center;
  padding: 120px 0 80px 0;
  margin-top: -40px;
  background-image: url("sign_up_background.jpg");

  h2, a {
    color: white;
  }

  .field {
    margin: 1.6em 0;
    label {
      @include label-font-styles;
    }
    input:not([type='checkbox']),
    textarea {
      @include input-styles;
      border-radius: 25px;
      text-align: center;
      color: $warm-gray;
      width: 600px;
      padding: 10px;
      font-size: 1.5em;
      font-style: italic;
    }
  }

  .actions {
    margin-bottom: 10px;
    .btn {
      background-color: $primary-green;
    }
  }

  label {
    color: white;
  }
}
