.subscribe {
  background-color: $warm-gray;
  padding-top: 20px;
  margin-bottom: -20px;
}

.subscribe-top {
  background-color:#999;
  margin-top:-4%;
  padding-top:8%;
}

.subscribe-bottom {
  background-color:#999;
  padding-bottom:8%;
}
