@mixin bg-theme($color) {
  background-color: $color;

  p {
    color: white;
  }

  h2 {
    color: white;
  }

  .btn.btn-white {
    color: $color;

    &:hover {
      color: darken($color, 15%);
      background-color: rgba(white, 0.8);
    }
    &:active {
      background-color: darken($color, 25%);
      background-color: rgba(white, 0.8);
    }
  }
}

.bg-primary-red {
  @include bg-theme($primary-red);
}

.bg-primary-blue {
  @include bg-theme($primary-blue);
}

.bg-primary-dark-blue {
  @include bg-theme($background-dark-blue);
}

.bg-primary-yellow {
  @include bg-theme($primary-yellow);
}

.bg-accent-orange {
  @include bg-theme($accent-orange);
}

.bg-accent-black {
  @include bg-theme($accent-black);
}

.bg-accent-purple {
  @include bg-theme($accent-purple);

  h2 {
    color: lighten($accent-purple, 35%);
  }

  p.lead {
    color: rgba(white, 0.7);
  }
}

.bg-accent-purple-darker {
  $darker-purple: darken($accent-purple, 10%);
  @include bg-theme($darker-purple);

  h2 {
    color: lighten($accent-purple, 35%);
  }

  p.lead {
    color: rgba(white, 0.7);
  }
}


.bg-accent-green {
  @include bg-theme($accent-green);
}
