<% content_for(:page_title) { ('Team') } %>
<% content_for(:hero_content) { "Quote for the team." } %>
<% content_for(:hero_image) { image_tag 'board_hero_image.jpg' } %>

<h1 class="title">The Board</h1>

<div class="member-grid">
<% @board_members.each do |member| %>
<div class="member-grid-item">
  <%=  render "shared/member", member: member %>
</div>
<% end %>
</div>

<h1 class="title">Volunteers</h1>

<div class="member-grid">
<% @volunteer_members.each do |member| %>
<div class="member-grid-item">
  <%=  render "shared/member", member: member %>
</div>
<% end %>
</div>

<div class="modal" id="modal-member-bio">
  <div class="modal-content">
    <div class="modal-close"></div>
    <div class="modal-title">
      <h2 class="modal-member-name"></h2>
    </div>
    <div class="modal-baby-picture"></div>
    <div class="modal-body"></div>
  </div>
</div>
